<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12505168049-1d17bm1fh6baphesg78imormdhhvuav0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12505168049-1d17bm1fh6baphesg78imormdhhvuav0</string>
	<key>API_KEY</key>
	<string>AIzaSyC3hBYCW-8TroBXDWhvgA1qbeamq8kWSvY</string>
	<key>GCM_SENDER_ID</key>
	<string>12505168049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.designflutter</string>
	<key>PROJECT_ID</key>
	<string>designflutter-6fb2c</string>
	<key>STORAGE_BUCKET</key>
	<string>designflutter-6fb2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12505168049:ios:6af2c8801563c0cd9d4a90</string>
</dict>
</plist>